torch >= 2.3.0
jupyterlab >= 4.0
tiktoken >= 0.5.1 
matplotlib >= 3.7.1 
tqdm >= 4.66.1 
numpy >= 1.26, < 2.1
pandas >= 2.2.1
tensorflow >= 2.18.0 
blobfile>=3.0.0
huggingface_hub>=0.24.7
ipywidgets>=8.1.2
safetensors>=0.4.4
sentencepiece>=0.1.99
dotenv>=0.0.5